@{
  Layout = "_Layout";
}

@model TravelPlanner.Models.Lodging

<h2>Add a trip for this lodging: @Html.DisplayFor(model => model.LodgingName)</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.LodgingId)

    @Html.Label("Select a trip")<br>
    @Html.DropDownList("TripId")

    <br><br><input type="submit" value="Save" class="btn btn-dark"/>
}