@{
  Layout = "_Layout";
}

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h1>Welcome to NomadCraft!</h1>
      <h3>Your personal adventure planner</h3>
      <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Account")" role="button">Create or manage an account</a></p>
    </div>
  </div>
</div>
