@{
  Layout = "_Layout";
}
<h1>Welcome to Travel Planner!</h1>
<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>
<p>@Html.ActionLink("Destinations", "Index", "Destinations")</p>
<p>@Html.ActionLink("Lodgings", "Index", "Lodgings")</p>