@{
  Layout = "_Layout";
}

@model TravelPlanner.Models.Trip


<h4>Add all of your adventures here!</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Add new trip" class="btn btn-primary" />
}