@{
  Layout = "_Layout";
}

@model TravelPlanner.Models.Destination

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.DestinationName): @Html.DisplayFor(model => model.DestinationName)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")