@{
  Layout = "_Layout";
}
@model TravelPlanner.Models.Transportation

<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="jumbotron text-center content-box">
      <h2>Add a trip for this mode of transportation: @Html.DisplayFor(model => model.TransportationName)</h2>

      @using (Html.BeginForm())
      {
          @Html.HiddenFor(model => model.TransportationId)

          <div class="form-group">
            <label for="TripId" class="control-label">Select a trip</label>
            @Html.DropDownList("TripId", null, new { @class = "form-control" })
          </div>

          <br><input type="submit" value="Save" class="btn btn-primary btn-lg"/>
      }
    </div>
  </div>
</div>
